{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{port_env, [
  {"DRV_LDFLAGS","deps/enet/.libs/libenet.a -shared $ERL_LDFLAGS"},
  {"darwin", "DRV_LDFLAGS", "deps/enet/.libs/libenet.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ideps/enet/include -g -Wall -fPIC $ERL_CFLAGS"}
]}.

{port_specs, [
  {"priv/ex_enet_drv.so", ["c_src/*.c"]}
]}.

{pre_hooks, [
  {compile,"make -C c_src"},
  {clean, "make -C c_src clean"}
]}.
